<robot name="obj_69">
  <link name="link_object">
    
    <collision>
      <origin rpy="0 0 0" xyz="0.00000 0.00000 0.00000" />
      <geometry>
        <mesh filename="model_normalized_v.obj" />
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value=".0" />
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
</robot>