<?xml version="0.0" ?>
<robot name="spatula.urdf">
  <link name="spatula">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="model.obj" scale="1.0 0.5 1.0"/>
      </geometry>
      <material name="blue">
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <geometry>
  	<mesh filename="model_v.obj" scale="1.0 0.5 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>
