<?xml version="1.0" ?>
<robot name="partnet_158634b1d7d010eeebe67d9b32c3ddf8">
	<link name="link_0">
		<visual name="lid-13">
			<origin xyz="-0.0034696680649939065 0 -0.005978668064993904"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="-0.0034696680649939065 0 -0.005978668064993904"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision>
	</link>
	<link name="base">
		<visual name="body-11">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-3.obj"/>
			</geometry>
		</visual>
		<visual name="neck-12">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-1.obj"/>
			</geometry>
		</visual>
		<visual name="neck-12">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2.obj"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-1.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/new-2.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin xyz="0.0034696680649939065 0 0.005978668064993904"/>
		<axis xyz="0 1 0"/>
		<child link="link_0"/>
		<parent link="base"/>
	</joint>
</robot>
